
.home-icon {
	font-size: 100px;
}

.selling-points {
	padding-top: 20px;
}

.landing {
	padding-top: 50px;
	padding-bottom: 50px;
	color: white;
	height: 500px;
	 background-image: url("./musicFest.jpg");
	 background-size: cover;
	 background-position: center;
}
